<form class="example-container" (ngSubmit)="submit()">
  <mat-form-field>
    <input
      matInput
      type="text"
      [(ngModel)]="inputTextValue"
      [ngModelOptions]="{ standalone: true }"
      placeholder="Add city"
    />
  </mat-form-field>
</form>
<mat-error class="message" *ngIf="cityExistError"
  >City already exist</mat-error
>
<mat-error class="message" *ngIf="cityDoesntExistError"
  >city doesn't exist</mat-error
>
<mat-label class="message" *ngIf="citySuccessMessage"
  >City was added successfully, refresh page to se it.</mat-label
>
